﻿<h1>{{page.title}}</h1>

<form name="contactForm" ng-submit="contactForm.$valid && submit()" novalidate ng-hide="submission">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" ng-model="formData.name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" name="email" ng-model="formData.email" class="form-control" required>
        <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Enter a valid email.</p>
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea name="message" class="form-control" ng-model="formData.message" required></textarea>
        <p ng-show="contactForm.message.$error.minlength" class="help-block">Message is too short.</p>
    </div>
    <button class="btn btn-primary" type="submit" name="submit">Submit</button>
</form>
<div ng-show="submission"><h3>{{submitMessage}}</h3></div>